
<div class="container-fluid well well-lg">
      <div class="row">
        <main class="col-12">
          <h1 class="page-header text-center">Status Dashboard</h1>


          <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
              <div>
                <img class="img-responsive" width="24" height="24"  src="/img/half.png">
              </div>
              <h4>Option 1</h4>
              <div class="">Experiencing Issues</div>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <div><img class="img-responsive" width="24" height="24"  src="/img/full.png">
              </div>
              <h4>Option 2</h4>
              <span class="">Running </span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <div>
                <img class="img-responsive" width="24" height="24"  src="/img/crescent.png">
              </div>
              <h4>Option 3</h4>
              <span class="">Outage Reported</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <div>
                <img class="img-responsive" width="24" height="24"  src="/img/full.png">
              </div>
              <h4>Option 4</h4>
              <span class="">Running</span>
            </div>
          </section>


          <h2 style="text-align: center;">Networks</h2>
          <div class="table-responsive container-fluid">
            <table class="table">
              <thead>
                <tr>
                  <th class="align-middle">Network</th>
                  <th class="align-middle">Status</th>
                  <th class="align-middle">Comment</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="align-middle">Network 1</td>
                  <td class='align-middle'>
                    <div class='stat-align'> <img class="img-responsive" id="com" width="24" height="24"  src="/img/full.png"></div>
                    </td>
                  <td class="align-middle">Running</td>

                </tr>

                <tr>
                  <td class="align-middle">Network 3</td>
                  <td class="align-middle">
                    <div class='stat-align'> <img class="img-responsive" width="24" height="24"  src="/img/full.png"></div>
                    </td>
                  <td class="align-middle">Running</td>

                </tr>

                <tr>
                  <td class="align-middle">Network 2</td>
                  <td class="align-middle">
                    <div class='stat-align'> <img class="img-responsive" width="24" height="24"  src="/img/full.png"></div>
                    </td>
                  <td class="align-middle">Running</td>

                </tr>

              </tbody>
            </table>
          </div>

          <h2 style="text-align: center;">Walls </h2>
            <div class="table-responsive container-fluid">
              <table class="table">
                <thead>
                  <tr>
                    <th >option&nbsp &nbsp &nbsp &nbsp</th>
                    <th>Status</th>
                    <th>Comment</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="align-middle">Option 1</td>
                    <td class="align-middle">
                      <div class='stat-align'> <img class="img-responsive" width="24" height="24"  src="/img/full.png"></div>
                      </td>
                    <td class="align-middle">Running</td>

                  </tr>
                  <tr>
                    <td class="align-middle">Option 2</td>
                    <td class="align-middle">
                      <div class='stat-align'> <img class="img-responsive" width="24" height="24"  src="/img/full.png"></div>
                      </td>
                    <td class="align-middle">Running</td>

                  </tr>
                  <tr>
                    <td class="align-middle">Option 3</td>
                    <td class="align-middle">
                      <div class='stat-align'> <img class="img-responsive" width="24" height="24"  src="/img/full.png"></div>
                      </td>
                    <td class="align-middle">Running</td>

                  </tr>
                  <tr>
                    <td class="align-middle">Option 4</td>
                    <td class="align-middle">
                      <div class='stat-align'> <img class="img-responsive" width="24" height="24"  src="/img/full.png"></div>
                      </td>
                    <td class="align-middle">Running</td>

                  </tr>
                </tbody>
              </table>

            </div>
        </main>
    </div>
  </div>



